services:  
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data 
      #- ./sql/backups:/docker-entrypoint-initdb.d/backups
      #- ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    env_file:
      - .env
    ports:
      - "8081:80"
    depends_on:
      - db

  python:
    container_name: python_container
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/scripts

volumes:
  pgdata:  
